@model Application.ViewModel.SeriesViewModel

@{
    ViewData["Title"] = "Detalles de la Serie";
}

<div class="container mt-4">
    <h2 class="text-white" style="font-family: 'Poppins', sans-serif; font-size: 3rem; font-weight: 600; text-align: center;">
        Detalles de la Serie
    </h2>

    <div class="mt-4 p-4 bg-dark shadow-lg rounded-3">
        <h4 class="text-danger">Serie</h4>
        <hr class="text-secondary" />
        <dl class="row text-white">
            <dt class="col-sm-4">Nombre</dt>
            <dd class="col-sm-8">@Model.Name</dd>
            <dt class="col-sm-4">Productor ID</dt>
            <dd class="col-sm-8">@Model.ProducerId</dd>
            <dt class="col-sm-4">Género Primario ID</dt>
            <dd class="col-sm-8">@Model.PrimaryGenreId</dd>
            <dt class="col-sm-4">Género Secundario ID</dt>
            <dd class="col-sm-8">@Model.SecondaryGenreId</dd>
            <dt class="col-sm-4">Video Link</dt>
            <dd class="col-sm-8">@Model.VideoLink</dd>
            <dt class="col-sm-4">Image Link</dt>
            <dd class="col-sm-8">@Model.ImgLink</dd>
        </dl>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg rounded-pill">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg rounded-pill">Volver a la Lista</a>
    </div>
</div>